bin/
target/
*.log
.classpath
.project
.settings/
*.iml
.idea
common/.classpath
common/.project
common/.settings
common/target
search/.classpath
search/.project
search/.settings
search/target
/build
search/src/main/resources/config.properties
.svn*